*,
*::before,
*::after
  box-sizing: border-box

::selection
  color: #000000
  background-color: #ffcad4

html
  scroll-behavior: smooth

body
  margin: 0

  position: relative

.editable-cell
  position: relative

.editable-cell-value-wrap
  padding: 5px 12px
  cursor: pointer

.editable-row:hover .editable-cell-value-wrap
  padding: 4px 11px
  border: 1px solid #d9d9d9
  border-radius: 2px

.editable-row .ant-form-item-explain
  position: absolute
  top: 100%
  font-size: 12px

.site-form-in-drawer-wrapper
  position: absolute
  right: 0px
  bottom: 0px
  width: 100%
  padding: 10px 16px
  text-align: right
  background: #fff
  border-top: 1px solid #e9e9e9

@mixin Font($font-family, $font-style, $font-weight, $src)
  @font-face
    font-family: $font-family
    font-style: $font-style
    font-weight: $font-weight
    src: url($src) format('woff2')

@include Font(Jost, normal, 100, 'assets/fonts/jost-thin.woff2')
@include Font(Jost, normal, 200, 'assets/fonts/jost-extralight.woff2')
@include Font(Jost, normal, 300, 'assets/fonts/jost-light.woff2')
@include Font(Jost, normal, 400, 'assets/fonts/jost-regular.woff2')
@include Font(Jost, normal, 500, 'assets/fonts/jost-medium.woff2')
@include Font(Jost, normal, 600, 'assets/fonts/jost-semibold.woff2')
@include Font(Jost, normal, 700, 'assets/fonts/jost-bold.woff2')
@include Font(Jost, normal, 800, 'assets/fonts/jost-extrabold.woff2')
@include Font(Jost, normal, 900, 'assets/fonts/jost-black.woff2')

// transition (change in final build)
.site-layout
  transition: margin-left 0.3s ease

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

.ant-table-thead th
  text-transform: lowercase

.ant-table-summary .ant-table-cell
  font-weight: 600
  background-color: #FAFAFA


// range picker
.ant-picker-range
  input
    text-transform: lowercase

// date picker
// .ant-picker
//   width: 100%

// tag
.ant-tag
  text-transform: lowercase
